.cabecalho{
    background-color: rgb(5, 5, 32);
    color: aliceblue;
    text-align: center;
    max-width: 800px;
}
}

.conteudo-principal{
    background-color: rgb(228, 61, 247);
    color: black;
    

    }
    
    