.cabecalho {
    background-color: rgb(5, 5, 32);
    color: rgb(204, 38, 176);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    paga
}
}

.conteudo-principal {
    background-color: ;
    color: rgb(224, 35, 35);


}

.imagem-principal {
    width: 350px;
    height: 180px;
}

.cabecalho-paragrafo {
    font-weight: bold;
}

.conteudo-autor {
    font-weight: bold;
    text-decoration: italic;
}

.conteudo-principal-texto{
    font-weight: bold;
}